* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 1024px;

  font-family: 'Arial', sans-serif;

  background-color: lightgray;
}

header {
  margin-bottom: 20px;
}

main {
  display: flex;
}

main img {
  width: 340px;
  height: 608px;
  margin: 0 20px 20px 0;

  border-radius: 20px;
}

footer {
  margin-top: 50px;

  line-height: 50px;
  text-align: center;
}

section {
  margin: 20px 0;
}

ul {
  margin-left: 20px;
}

a:link {
  text-decoration: none;
  color: rgb(128, 116, 194);
}

a:visited,
a:active,
a:hover {
  color: rgb(149, 98, 31);
}
